<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  XML方式  -->
<!--    <bean class="org.example.ioc_03.UserServiceImpl" id="userService"/>-->
<!--    <bean class="org.example.ioc_03.UserController" id="userController">-->
<!--        &lt;!&ndash; 注入属性，必须有set方法 &ndash;&gt;-->
<!--        <property name="userService" ref="userService"/>-->
<!--    </bean>-->

    <!--  注解方式  -->
    <context:component-scan base-package="org.example.ioc_03"/>
</beans>